.colorInputs {
  background: gray;
  min-height: 70px;
  text-align: center;
  padding-top: 15px;
  input,
  label {
    cursor: pointer;
    transform: translateY(18%);
  }
  label {
    margin-right: 2rem;
    font-size: 20px;
    font-weight: 600;
    transform: translateY(-5%);
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &::-webkit-color-swatch {
      border-radius: 5px;
      border: none;
    }
    &::-moz-color-swatch {
      border-radius: 5px;
      border: none;
    }
  }
}
#backsolid {
  height: 100%;
  width: 100%;
  position: fixed;
}
#facross {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 800;
}
.popUp{
  border-radius: 10%;
}
.moda {
  font-size: 12px;
  .header {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .content {
    width: 100%;
    padding: 10px 5px;
  }
  .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
}
