header{
  height: 15vh;
  background-color: rgba(172, 165, 171, 0.2);
}
.header{
  box-shadow: 0 0.3rem rgba(0, 0, 0,0.8);
}
h1{
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 0.15rem;
  font-weight: 400;
}
.nav-bar {
  background: #1A120B;
  nav {
    display: flex;
    text-align: center;
    left: 50%;
    a {
      flex-basis: 50%;
      color: #fff;
      font-size: 22px;
      display: block;
      line-height: 51px;
      height: 51px;
      text-decoration: none;
    }
    a.active {
      background: #414040;
      color: #ffffff;
    }
  }
}
.text {
  position: absolute;
  border: transparent;
  bottom: 18rem;
  right: 3rem;
  height: 50px;
  width: 220px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(109, 216, 216);
  align-items: center;
  border-radius: 25px;
  h6{
    padding-top: 8px;
    font-weight: 600;
    font-size: large;
  }
  #faicon {
    padding: 5px;
    font-size: medium;
    border-radius: 50%;
    background-color: white;
  }
}

